:root {
  font-size: 60%;

  --color-black: rgb(22, 20, 20);
  --color-white: rgba(216, 216, 216, 0.938);
  --color-red: rgb(247, 84, 84);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

/* body {
  background-color: var(--color-black);
} */

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
}

.container {
  width: 90vw;
  max-width: 900px;
}

@media (min-width: 900px) {
  :root {
    font-size: 62.5%;
  }
}